* {
    -webkit-tap-highlight-color: transparent;
    /* font-family: "Noto Color Emoji"; */

}

/* body {
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: stretch;
}

html {
    height: stretch;
    height: -webkit-fill-available;
} */

/* Focusing the button with a keyboard will show a dashed black line. */
:focus-visible {
    outline: none
}

.button-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 30px;
}

.button-wrapper-right::before {
    left: -30px;
    background: linear-gradient(90deg, transparent,white);
}

.button-wrapper-left::before {
    left: 30px;
    background: linear-gradient(270deg, transparent,white);
}

.clip-path-photo {
    position: relative
}


/* .hidden-scrollbar::-webkit-scrollbar{
    display: none;
  } */


  /* Style Range Slider */
  /* https://www.cssportal.com/style-input-range/ */

  input[type=range] {
    height: 37px;
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #F3F4F6;
    background: white;
    border-radius: 10px;
    border: 1px solid #4338CA;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #4338CA;
    border: 1px solid #4338CA;
    height: 30px;
    width: 15px;
    border-radius: 10px;
    background: #4338CA;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #F3F4F6;
    background: white;
    border-radius: 10px;
    border: 1px solid #4338CA;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #4338CA;
    border: 1px solid #4338CA;
    height: 30px;
    width: 15px;
    border-radius: 10px;
    background: #4338CA;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: white;
    border: 1px solid #4338CA;
    border-radius: 20px;
    box-shadow: 0px 0px 0px #F3F4F6;
  }
  input[type=range]::-ms-fill-upper {
    background: white;
    border: 1px solid #4338CA;
    border-radius: 20px;
    box-shadow: 0px 0px 0px #F3F4F6;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #4338CA;
    border: 1px solid #4338CA;
    height: 30px;
    width: 15px;
    border-radius: 10px;
    background: #4338CA;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: white;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: white;
  }
  