* {
    -webkit-tap-highlight-color: transparent;
    /* font-family: "Noto Color Emoji"; */

}

/* body {
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: stretch;
}

html {
    height: stretch;
    height: -webkit-fill-available;
} */

/* Focusing the button with a keyboard will show a dashed black line. */
:focus-visible {
    outline: none
}

.button-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 30px;
}

.button-wrapper-right::before {
    left: -30px;
    background: linear-gradient(90deg, transparent,white);
}

.button-wrapper-left::before {
    left: 30px;
    background: linear-gradient(270deg, transparent,white);
}

.clip-path-photo {
    position: relative
}

/* .hidden-scrollbar::-webkit-scrollbar{
    display: none;
  } */