* {
    -webkit-tap-highlight-color: transparent;
    /* font-family: "Noto Color Emoji"; */

}

/* body {
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: stretch;
}

html {
    height: stretch;
    height: -webkit-fill-available;
} */

/* Focusing the button with a keyboard will show a dashed black line. */
:focus-visible{ outline: none }